@tailwind base;
@tailwind components;
@tailwind utilities;
@import "typeface-bebas-neue";
@import "typeface-montserrat";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-shape-divider-bottom-1729523128 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}

.custom-shape-divider-bottom-1729523128 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 155px;
}

.custom-shape-divider-bottom-1729523128 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1732072470 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}

.custom-shape-divider-bottom-1732072470 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 83px;
}

.custom-shape-divider-bottom-1732072470 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1729583472 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1729583472 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 113px;
}

.custom-shape-divider-bottom-1729583472 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1729764805 {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1729764805 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
}

.custom-shape-divider-bottom-1729764805 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1731927230 {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1731927230 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 53px;
}

.custom-shape-divider-bottom-1731927230 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-top-1731926415 {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1731926415 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 76px;
}

.custom-shape-divider-top-1731926415 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1732091971 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1732091971 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 109px;
}

.custom-shape-divider-bottom-1732091971 .shape-fill {
  fill: #ffffff;
}
